<a href="https://colab.research.google.com/github/mnithilan/Google-Colab-21CSS101J/blob/main/RA2211042010013.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

seconds in a day

In [ ]:
seconds_in_a_day = 24* 60 *60
seconds_in_a_day

86400

sum of two numbers by getting inp from user

```
# This is formatted as code
```

hello world

In [ ]:
print("hello world \nmy name is mano")

hello world
my name is mano

sum of two numbers by getting values from user

In [ ]:
num1= int(input("enter first number"))
num2= int(input("enter second number"))
sum = num1 + num2
print(sum)

enter first number23
enter second number26
49

sum of two numbers

In [ ]:
num1=5 
num2=6
sum = num1+num2
print(sum)

11

multiplication by getting val from user

In [ ]:
num1 = int(input("enter first numnber"))
num2 = int(input("enter second number"))
product = num1*num2
print("the product is ",product)

enter first numnber33
enter second number44
the product is  1452

quotient by getting val from user

In [ ]:
num1 = int(input("enter first number"))
num2 = int(input("enter second number"))
quot = num1/num2
print("the quotient",quot)

enter first number55
enter second number66
the quotient 0.8333333333333334

remainder by geting value from user

In [ ]:
num1 = int(input("enter first number"))
num2 = int(input("enter second number"))
remainder = num1%num2
print("remainder is : ",remainder)

enter first number22
enter second number77
remainder is :  22

In [ ]:
num1 = int(input("enter first number"))
num2 = int(input)

check even or odd